main {
  margin: 1rem 10rem 1rem 10rem;
  padding: 3rem 0;
}

.card-put {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #2F3644;
  padding: 30px 30px;
  border-radius: 10px;
}

.card-put h1{
  font-family: "Camphor Pro", sans-serif;
  text-align: center;
  color: whitesmoke;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.line-put {
  height: 2px;
  background-color: #3E445B;
}

.card-body-put {
  margin-top: 25px;
  width: 40%;
}

.fields {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 7px;
  font-size: 1rem;
  color: whitesmoke;
  font-family: "Camphor Pro", sans-serif;
}

input, textarea {
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  padding-left: 15px;
}

input {
  height: 40px;
}

textarea {
  height: 100px;
  resize: none;
  padding-top: 10px;
}

.btn-put{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  gap: 1rem;
}

.btn-put button{
  font-family: "Camphor Pro", sans-serif;
  font-size: 1rem;
  padding: 10px 50px;
  color: #0099da;
  background-color: whitesmoke;
  border: 1px solid #0099da;
  border-radius: 5px;
  cursor: pointer;
}
.btn-put button:hover {
  background-color: #0099da;
  color: whitesmoke;
}

.error-message {
  color: rgb(240, 47, 47);
}

@media (max-width: 768px) {
  main {
    margin: 1rem;
    padding: 1rem 0;
  }
  .card-put h1{
    font-size: 1.5rem;
  }
}